<div class="row">
  <div class="row col-md-12">
    <div class="col-md-2" style="background:#0041b3">
      <ul>
        <li style="list-style-type: none;">
          <a style="color:white;" routerLink="/employee">Employee</a>
        </li>
      </ul>
      <ul>
        <li style="list-style-type: none;">
          <a style="color:white;" routerLink="/userlist">User List</a>
        </li>
      </ul>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
